*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #FFF;
    --clr-dark: #303030;
    --clr-accent: #16E0BD;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1.125rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
            0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-h4: 1.25rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html { 
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    margin: 0;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold)}

:focus { 
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.2);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section__title {
    margin-bottom: 0.25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    margin-bottom: 1.2em;
    font-size: var(--fs-h3);
}

.section__subtitle--intro {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle-project {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
    background: var(--clr-accent);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
    background: var(--clr-accent);
}

.nav-open .hamburger::after {
    opacity: 0;
}


.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/* Intro Section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        font-size: var(--fs-h4);
    }
}


/* My Services section */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(img/services-bg.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }

    .section__subtitle--intro {
        font-size: var(--fs-h3);
    }

}

/* About Me */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
         grid-area: title 
    }

    .section__subtitle--about { 
        /* grid-area: subtitle */
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about-me__img { 
        grid-area: img;
        position: relative;
        z-index: 1; }

    .about-me__body {
        grid-area: text;
    }
}

/* My Work */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 250ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.75;
}

/* Achievements */

.my-achievements {
    background-image: url(img/achieve-bg.jpg);
    background-color: gray;
    background-size: cover;
    background-blend-mode: overlay;
    color: var(--clr-dark);
    text-align: center;
}

.achievements__container {
    max-width: 1200px;
    margin: 0 auto;
}

.achievements__title {
    padding: 1em;
    margin: 0 auto;
}

.achievements__body {
    min-width: 100%;
    margin: 0;
}

.ach__body-boxes {
    max-width: 600px;
    background-color: rgba(0,0,0,0.25);
    border-radius: 1rem;
    padding: 2em;
    margin: 2em auto 0;
    opacity: 1;
    color: var(--clr-dark);
}

.ach__body-certs {
    margin-top: 0;
}

.ach__title {
    font-size: 1.6rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
}

.ach__title::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-dark);
    opacity: 0.25;
}

.ach__cert,
.ach__teach,
.ach__award {
    background-color: var(--clr-dark);
    border-radius: 0.4rem;
    color: var(--clr-light);
    padding: 0.8em 1em;
    margin-top: 1em;
    transition: 0.5s;
    cursor: default;
}

.ach__cert-title,
.ach__teach-title,
.ach__award-title {
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: var(--fs-body);
    letter-spacing: -1px;
    line-height: 1rem;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
}

.ach__cert-subtitle,
.ach__teach-subtitle,
.ach__award-subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    line-height: 1rem;
}

.ach__cert:hover,
.ach__teach:hover,
.ach__award:hover {
    background-color: var(--clr-accent);
    color: var(--clr-dark);
}

@media (min-width: 1143px) {
    .achievements__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
    }

    .achievements__title {
        padding: 0;
    }

    .achievements__body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .ach__body-certs { 
        order: 2;
        max-width: 38%;
        margin: 0 0.15em;
    }

    .ach__body-teach {
        order: 1;
        max-width: 31%;
    }

    .ach__body-award {
        order: 3;
        max-width: 31%;
    }

    /* .ach__body-boxes {
        min-width: 300px;
    } */

}



/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 0.5em;
}

.social-list__link {
    padding: 0.5em;
}

/* Individual Portfolio */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 800px;
}

/* Projects Page */

.section__project {
/* .about-me */
    max-width: 1000px;
    margin: 0 auto;
}

.section__project-img {
    box-shadow: var(--bs);
}

.btn__project {
    width: 100%;        
    text-align: center;
    transition: none;
}

.btn__project:hover {
    transform: none;
    text-decoration: underline;
}

@media (min-width: 600px) {
    .section__project {
    /* .about-me { */
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title-project {
         grid-area: title;
    }

    .section__subtitle-project { 
        grid-area: subtitle;
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .section__project-img { 
        grid-area: img;
        position: relative;
        z-index: 1; }

    .section__project-body {
        grid-area: text;
    }

    .btn__project {
        width: auto;
        transition: transform 200ms ease-in-out;
    }

    .btn__project:hover {
        transform: scale(1.2);
        text-decoration: none;
    }

}

/* Project Alternate Section */

.section__project__alt-bg {
    background-color: var(--clr-dark);
}

.section__project__alt {
    color: var(--clr-light);
}

.section__subtitle-project__alt {
    color: var(--clr-dark);
}

.tech-used-container { 
    padding: 1.5em 0; 

}

.tech-used-title {
    margin: 0;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
}

.title-after::after {
    content: '';
    display: block;
    width: 5em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-light);
    opacity: 0.25;
}

.title-after-reverse::after {
    background-color: var(--clr-dark);
}

.tech-used {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.tech-button {
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 0.75em;
    color: var(--clr-dark);
    padding: 6px 20px 8px;
    margin: 5px;
    transition: 0.5s;
    cursor: default;
}

.tech-button:hover {
    background-color: var(--clr-dark);
    border-color: var(--clr-light);
    color: var(--clr-light);
}

.btn-rev {
    background-color: var(--clr-dark);
    border-color: var(--clr-light);
    color: var(--clr-light);
}

.btn-rev:hover {
    background-color: var(--clr-light);
    border-color: var(--clr-dark);
    color: var(--clr-dark);
}

.icon {
    vertical-align: middle;
}

.tech-button-label {
    vertical-align: middle;
    margin-left: 0.5em;
}



@media (min-width: 600px) {
    .tech-used-container {
        margin-bottom: 1.5em;
    }

    .tech-used-title {
        text-align: left;
        margin-bottom: 0;
    }

    .tech-used-title::after {
        display: none;
    }

    .tech-used {
        margin-top: 0.25em;
        justify-content: flex-start;
    }

    /* .tech-button {
        padding: 6px 20px;
    } */

}


@media (hover: none) {
    .ach__cert:hover,
    .ach__teach:hover,
    .ach__award:hover {
        cursor: pointer;
    }

    .tech-button:hover {
        cursor: pointer;
    }

    .btn-rev:hover {
        cursor: pointer;
    }
}